  body{
    background-color: wheat;
  }
  div{
    background-color: yellowgreen;
    width: 300px;
    border: 10px;
    padding: 10px;
    margin: 20px;
  }
h1{
    color: rgb(131, 17, 238);
    text-align: left;
}
h2{
    color: rgb(99, 154, 17);
    text-align: center;
}
h3{
    color: blueviolet;
    text-align: right;
}
.container{
    display: flexbox;
}
.content{
    background-color: yellowgreen;
    border: 2px;
    padding: 20px;
    font-size: medium;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: yellowgreen;
    color: blue;
}
